.blogPostHighlight {
    display: flex;
    border: 1px solid #ff0000;
    gap: 50px;
    padding: 10px;
}

.blogPostHighlight h3{
    margin: 0;
}

.blogPostHighlight p {
    text-align: left;
    display: block;
}

.content {
    height: 100%;
}