.blogs {
    min-height: 50vh;
    background: #e6b030;
}

.blogsec {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
}

.blogsec>a {
    max-width: 700px;
}